* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	/* outline: 1px solid red; */
}
.banner_container {
	width: 100vw;
	min-height: 100vh;
	max-width: 1200px;
	background-color: #ffffff;
	padding: 20px;
	margin-bottom: 40px;
	text-align: center;
}
.header_card {
	background-position: no-repeat;
	background-size: cover;
	/* background-attachment: fixed; */
	background-position: center;
	color: #fff;
	border-radius: 20px;
}
.btn {
	display: none;
}
.sideNavContainer .sideNavLink {
	display: flex;
	flex-direction: column;
	gap: 10px;
	align-items: center;
	margin: 40px 10px;
}
.sideNavContainer .sideNavLink .link {
	border-radius: 5px;
	width: 100%;
	text-decoration: none;
	font-size: 20px;
	color: black;
	background-color: rgba(190, 187, 187, 0.61);
	padding: 10px 5px;
}
.sideNavContainer .sideNavLink .link:hover {
	background-color: rgba(252, 26, 26, 0.61);
}

@media screen and (min-width: 250px) and (max-width: 700px) {
	.pie-chart-container {
		flex-direction: column;
	}

	.btn {
		display: flex;
		position: absolute;
		left: 0;
		background-color: brown;
		z-index: 2;
		width: 35px;
		height: 30px;
		justify-content: center;
		align-items: center;
		top: 5px;
		transition: all 0.5s ease;
		color: white;
	}

	.container {
		width: 100%;
		position: relative;
		height: 100vh;
	}

	.sideNavContainer {
		z-index: 3;
		top: 0;
		left: -100%;
		position: absolute;
		width: 260px;
		background-color: rgb(235, 235, 235);
		height: 100%;
		transition: all 0.5s ease;
	}

	.sideNavContainer.active {
		left: 0%;
	}

	.mainContain {
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		z-index: 1;
		position: absolute;
	}
}

.title {
	font-size: 25px;
	font-weight: 700;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 40px;
	width: 100%;
	background: rgba(116, 114, 114, 0.219);
}

.content-1 {
	display: flex;
	flex-wrap: wrap;
	flex-shrink: 0;
	gap: 10px;
	justify-content: space-around;
}

.content-1 .content-box {
	width: 300px;
	height: 130px;
	background-color: rgba(196, 190, 190, 0.233);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 10px;
}

.pie-chart {
	margin: 0 auto;
	margin-top: 50px;
	max-width: 500px;
}

.pie-chart-container {
	flex-shrink: 0;
	display: flex;
	gap: 50px;
	align-items: center;
	max-width: 100%;
}

.supliesContainer {
	font-family: Arial, sans-serif;

	overflow-x: auto;
}

.supliesContainer table {
	border-collapse: collapse;
}

.supliesContainer table th,
td {
	padding: 8px;
	border-bottom: 1px solid #ddd;
}

.supliesContainer table th {
	background-color: #f2f2f2;
	text-align: left;
}
.supliesContainer table tr {
	transition: all 0.6s;
}

.supliesContainer table tr:hover {
	background-color: #f2f2f2;
}

.supliesContainer table td button {
	background-color: rgb(194, 194, 194);
	border: none;
	padding: 3px 5px;
	border-radius: 3px;
	font-size: 17px;
	transition: all 0.5s;
}
.supliesContainer table td button:hover {
	background-color: rgb(255, 39, 10);
	color: #f2f2f2;
}
.create-supply-form {
	display: flex;
	justify-content: center;
}
.create-supply-form .form-single-data {
	display: flex;
	flex-direction: column;
	gap: 5px;
	margin: 10px 0px;
}

.create-supply-form .form-single-data input,
textarea {
	padding: 7px;
	border: 2px solid rgba(92, 92, 92, 0.527);
	border-radius: 5px;
}
.create-supply-form button {
	padding: 7px 10px;
	border: none;
	border-radius: 5px;
	background-color: rgb(201, 201, 201);
	font-weight: 600;
}
.create-supply-form button:hover {
	padding: 7px 10px;
	border: none;
	border-radius: 5px;
}

@media screen and (max-width: 700px) {
	.banner_card_container {
		display: none;
	}
	.banner_card_container > div {
		display: none;
	}
	.sm_cta_container {
		display: flex;
		flex-direction: flex;
		gap: 10px;
		justify-content: center;
		margin: 30px;
	}
}
@media screen and (min-width: 701px) {
	.sm_cta_container {
		display: none;
	}
}
