* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	/* outline: 1px solid red; */
}
.banner_container {
	width: 100vw;
	min-height: 100vh;
	max-width: 1200px;
	background-color: #ffffff;
	padding: 20px;
	margin-bottom: 40px;
	text-align: center;
}
.header_card {
	background-position: no-repeat;
	background-size: cover;
	/* background-attachment: fixed; */
	background-position: center;
	color: #fff;
	border-radius: 20px;
}
